@using Common
@model InfoPortal.WebUI.Models.ResultSearchArticlesViewModel

@{
	ViewBag.Title = "ResultSearch";
	Layout = "~/Views/Shared/_Layout.cshtml";
	const int maxCardInRow = 2;
}

@section NavTab
{
	<div class="container">
		<div class="justify-content-center">

			@{ Html.RenderAction("Menu", "Nav"); }
		</div>
	</div>
}

<div class="col-md-12 col-lg-8">
	<h2 class="py-3">
		Result Search by
		@switch (Model.SelectSearch)
		{
			case (int)SearchType.ByNamesOrArticles:
				<text>caption </text>
				@Model.SearchQuery
				break;
			case (int)SearchType.ByTags:
				<text>tags </text>
				@Model.SearchQuery
				break;
			case (int)SearchType.ByDate:
				<text>date </text>
				@Model.SearchQuery
				break;
		}
	</h2>

	@for (int i = 0; i < Model.Articles.Count(); i += maxCardInRow)
	{
		<div class="row py-3">
			<div class="card-deck">

				@foreach (var art in Model.Articles.Skip(i).Take(maxCardInRow))
				{
					<div class="card">
						<a href="@Url.RouteUrl(new { controller = "Article", action = "Article", id = art.ArticleId })">
							<img class="card-img-top" src="@art.Image" alt="Card image cap"/>
							<div class="card-body text-dark" style="display: inline-block">
								<h5 class="card-title">@art.Caption</h5>
								<p class="card-text">@art.Text.Substring(0, 150)... </p>
								<p class="card-text">
									<small class="text-muted">@art.Date.ToShortDateString()</small>
								</p>
							</div>
						</a>
					</div>
				}
			</div>
		</div>
	}
	<div class="text-center row btn-group" role="group" aria-label="Basic exapmle">
		@Html.PageLinks(Model.PageInfo, x => Url.Action("ResultSearch",
			new { page = x, searchQuery = Model.SearchQuery, selectSearch = Model.SelectSearch }),
			new { @class = "btn btn-secondary" })
	</div>

</div>

@section RightSection
{
	<div class="col-md-12 col-lg-4">
		<div class="row p-3">
			@{ Html.RenderAction("SearchMenu", "Search"); }
		</div>
		<div class="row p-3">
			@{ Html.RenderAction("PopularTags", "Tags"); }

		</div>
	</div>

}