@model Common.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-lg-8 py-3">


	<h2>Delete</h2>

	<h3>Are you sure you want to delete this?</h3>
	<div>
		<h4>User</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Password)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Password)
			</dd>

		</dl>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				@Html.ActionLink("Back to List", "Index")
			</div>
		}
	</div>
</div>

@section RightSection
{
<div class="col-lg-4 py-3">
	<div class="card">
		<div class="card-header">
			<h3>Attention</h3>
		</div>
		<div class="card-body">
			<p>If you delete user, you also delete all his articles </p>
		</div>
	</div>
</div>
}
