@model InfoPortal.WebUI.Models.ArticlesOfUser
@{
	ViewBag.Title = "ListOfArticles";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-3">
	<h2>ListOfArticles</h2>
</div>

<div class="container">
	<p>
		@Html.ActionLink("Create New", "CreateNewArticle")
	</p>
	<table class="table table-striped">
		<tr class="thead-dark">
			<th>
				@Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Caption)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Language)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Articles.FirstOrDefault().User.Name)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model.Articles)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Caption)
				</td>
				<td>
					<text>@item.Date.ToShortDateString()</text>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Language)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Name)
				</td>
				<td>
					@Html.ActionLink("Edit", "UpdateArticle", new { id = item.ArticleId }) |
					@Html.ActionLink("Details", "Article", new { id = item.ArticleId }) |
					@Html.ActionLink("Delete", "Delete", new { articleId = item.ArticleId },new{ id = "delete-btn-link"})
				</td>
			</tr>
		}

	</table>
	
</div>
<div class="row">
	@Html.PageLinksBootstrap(Model.PageInfo, x => Url.Action("ListOfArticles", 
		new {userName=Model.CurrentUserName, page = x }))
</div>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$("#delete-btn-link").click(function() {
			var answer = confirm("You will delete the artile. Are you sure?");
			if (answer) {
				return true;
			} else {
				return false;
			}
		});
	});
</script>